<div class="p-4 category">
    <h5>カテゴリー</h5>
    <ul class="list-group list-group-flush">
        {% for category in categories %}
            {% if category.count > 0 %}
                <li class="list-group-item">
                    <a href="{% url 'category-post-list' category.slug %}">
                        <small>{{ category.name }}({{ category.count }})</small>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="p-4">
    <h5>タグ</h5>
    {% for tag in tags %}
        <a class="btn btn-light bg-light text-bg-light m-1" href="{% url 'tag-post-list' tag.slug %}">
            <small>{{ tag.name }}</small>
        </a>
    {% endfor %}
</div>