{% load static %}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'blog/css/style.css'%}">
    <title>ブログアプリ</title>
</head>
<body>
    {% include 'blog/snippets/navbar.html' %}
    <div class="container mt-4">
        {% block content %}
        {% endblock content %}
    </div>

    {% include 'blog/snippets/footer.html' %}
</body>
</html>